
# Dependencies
node_modules
dist
.DS_Store

# Environment files
.env
.env.*
!.env.sample
.env.local
.env.docker

# Security
.secrets
*.pem
*.key
*.cert
*.log

# Temp files
temp_*
*.tar.gz

# Replit specific
.config
.upm
.breakpoints
replit.nix
.replit

# Build artifacts
build/
dist/
server/public/
vite.config.ts.*
